@use '../util/' as *;

.main { 
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 69px;
    position: relative;

    @include breakpoint-down(small) {
        flex-direction: column;
        padding: 40px 14px 59px 14px;
        margin-bottom: 0;
        backdrop-filter: blur(5px);
        overflow: hidden;

        &::before {
            content: '';
            width: 75px;
            height: 75px;
            border-radius: 50%;
            left: -5px;
            top: 5px;
            position: absolute;
            background-color: white;
            opacity: 0.7;
            filter: blur(80px);
            z-index: 1;
        }

        &::after{
            content: '';
            width: 40px;
            height: 40px;
            border-radius: 50%;
            left: 296px;
            top: 236px;
            position: absolute;
            filter: blur(8px);
            background: radial-gradient(circle at 10px 15px, rgba(236, 208, 255, 0.64) 0.5%,rgba(161, 93, 207, 0.24) 45%,rgba(118, 49, 164, 0.21) 60%,rgba(86, 24, 128, 0.23) 30%);
        }
    }
}

.main__about {
    justify-content: start;
    flex: 0 0 50%;
    font-family: var(--fontInter);
    color: var(--ligth-text);
    position: relative;

    @include breakpoint-down(small) {
        &::after{
            content: '';
            width: 400px;
            height: 400px;
            border-radius: 50%;
            left: 380px;
            top: 70px;
            position: absolute;
            filter: blur(90px);
            filter: drop-shadow(3px 4px 10rem rgba(131, 58, 180, 1)) blur(3px);
            background: rgba(131, 58, 180, 1);
            opacity: 0.8;
        }

        &::before{
            content: '';
            width: 43px;
            height: 43px;
            border-radius: 50%;
            left: 29px;
            top: 400px;
            transform: translateY(-50%);
            position: absolute;
            filter: blur(6px);
            background: radial-gradient(circle at 5px 5px, rgba(255, 208, 208, 0.54) 0.1%,rgba(212, 93, 93, 0.26) 45%,rgba(167, 49, 49, 0.25) 60%,rgba(130, 25, 25, 0.25) 90%);
        }
    }

    h1 {
        max-width: 300px;
        font-size: 48px;
        font-weight: 400;
        line-height: 58.09px;
        margin-bottom: 30px;
        position: relative;

        @include breakpoint-down(small) {
            font-size: 36px;
            line-height: 43.57px;

            &::after {
                content: '';
                width: 211px;
                height: 210px;
                border-radius: 50%;
                left: -55px;
                top: 241px;
                position: absolute;
                filter: blur(110px);
                // filter: drop-shadow(3px 4px 10rem rgba(150, 26, 26, 1));
                background: rgba(150, 26, 26, 1);
                opacity: 0.5;
            }
        }
    }

    h1 span {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 900;
        background-image: linear-gradient(to right, var(--gradient-start), var(--gradient-end));

        @include breakpoint-down(small) {
            font-size: 36px;
            line-height: 43.57px;
        }
    }

    h3 {
        max-width: 300px;
        font-weight: 400;
        font-size: 18px;
        font-family: var(--fontMontserrat);
        line-height: 21.94px;
        color: var(--ligth-text);

        @include breakpoint-down(small) {
            margin-bottom: 45px;
        }
    }
}

.main__promo {
    text-align: right;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: end;

    @include breakpoint-down(small) {
        text-align: left;
        align-items: start;
    }
}

.promo__title {
    color: var(--ligth-text);
    font-size: 18px;
    text-align: right;
    font-family: (var(--fontInter));
    font-weight: 500;
    line-height: 21.78px;
    max-width: 291px;
    margin: 15px 0 40px 0;
    
    @include breakpoint-down(small) {
        text-align: left;
        align-items: start;
        margin: 0 0 20px 0;
    }


    span {
        background: linear-gradient(to right, rgba(252, 176, 69, 1) 1%,rgba(253, 29, 29, 1) 43%,rgba(240,166,84,1) 44%,rgba(231,108,54,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.9px;

        @include breakpoint-down(small) {
            text-transform: lowercase;
        }
    }
}

.promo__about {
    display: grid;
    margin-bottom: 61px;
    grid-template-columns: 135px 135px;
    grid-template-rows: 66px 66px;
    gap: 30px;
    font-family: var(--fontInter);

    .grid11 {
        display: none;
    }

    .grid22 {
        display: none;
    }

    .grid33 {
        display: none;
    }

    .grid44 {
        display: none;
    }

    @include breakpoint-down(small) {
        gap: 14px 1px;
        grid-template-columns: 130px 150px;
        grid-template-rows: 16px 16px;
        margin-bottom: 0;

        .grid1 {
            display: none;
        }

        .grid2 {
            display: none;
         }

        .grid3 {
            display: none;
        }

        .grid4 {
            display: none;
        }

        .grid11 {
        display: block;
        }

        .grid22 {
            display: block;
        }

        .grid33 {
            display: block;
        }

        .grid44 {
            display: block;
        }
    }

    h3 {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        font-size: 18px;
        font-weight: 500;
        color: var(--ligth-text);
        text-align: right;
        line-height: 21.78px;
        margin-bottom: 6px;
        position: relative;

        &:before {
            display: none;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            content: '';
            width: 10px;
            height: 1px;
            background: linear-gradient(to right, rgba(252, 176, 69, 1), rgba(253, 29, 29, 1));
            
        }

        @include breakpoint-down(small) {
            line-height: 15.85px;
            font-size: 13px;
            font-weight: 400;
            font-family: var(--fontMontserrat);
            letter-spacing: 0.7px;
            padding: 0 0 0 15px;

            &:before {
                display: block;
            }
        }
        }
    }

    p {
        font-family: var(--fontMontserrat);
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        line-height: 19.5px;
        color: var(--ligth-text);

        @include breakpoint-down(small) {
            display: none;
    }
}

.btn {
    display: inline-block;
    display: flex;
    width: 262px;
    height: 61px;
    background-color: var(--btn-back);
    padding: 35px 21px;
    color: var(--ligth-text);
    align-items: center;
    justify-content: center;
    font-family: var(--fontInter);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;

    @include breakpoint-down(small) {
        display: none;
    }
}