@use './scss/util/' as *;

main {
    padding: 46px 0 0 0;
    max-width: 1440px;
    min-height: 980px;
    background-color: var(--background);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint-down(medium) {
        padding: 0 40px;
     }

     @include breakpoint-down(small) {
        max-width: 320px;
        min-height: 1115px;
        height: 100%;
        padding: 0;
        // padding: 0 14px;
     }
}