:root {
    --light-text: rgb(228, 229, 234);
    --gradient-start: rgb(252, 176, 69);
    --gradient-end: rgb(255, 63, 120);
    --gradient-end2: rgb(253, 31, 31);
    --dark-gray: rgb(101, 101, 102);
    --btn-back: rgb(63, 117, 243);
    --background: rgb(14, 16, 20);
    --first-shadow: #961a1a;
    --second-shadow: #DF7D7D40;
    --third-shadow: #833AB4;
    --forth-shadow: #B176D940;
    --fifth-shadow: #DF7D7D40;
    --first-circle: #961A1A;
    --second-circle1: #FFD0D0;
    --second-circle2: #D45D5D;
    --second-circle3: #A73131;
    --second-circle4: #821919;
    --third-circle: #833AB4; 
    --forth-circle1: #ECD0FF;
    --forth-circle2: #A15DCF;
    --forth-circle3: #7631A4;
    --forth-circle4: #561880;
    --fifth-circle1: #FFD0D0;
    --fifth-circle2: #D45D5D;
    --fifth-circle3: #A73131;
    --fifth-circle4: #821919;
}
